@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Basic si sStyling */
.input {
  @apply border p-2 w-full rounded-md;
}
.btn {
  @apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  background: linear-gradient(to bottom right, #e0f7fa, #e0f2f1);
  min-height: 100vh;
}
